[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"fabric3" = "*"


[packages]

django = ">=2.0,<2.1"
"django-admin-sortable2" = "*"
django-auth-ldap = "*"
django-extensions = "*"
djangorestframework = "*"
gunicorn = "*"
mysqlclient = "*"
python-ldap = "*"
